body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Headdesign .LogoDesign{

  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.Headdesign .TitleDesign{
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}
.Headdesign .SubTitleDesign{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 0%);
}
.required{
  color: hsl(0, 100%, 50%);
}
.Button{
  background-color: hsl(200, 100%, 50%);
  display:flex;
  justify-content: center;
  height: auto;
  margin: 3px auto;
  font-size: large;
  font-weight: 15px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  float: none;
  align-content: center;
  align-self: center;
  margin-top: 150px;
}
/* .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.Headdesign .MenuDesign ul{
    width:auto;
    height:25px;
    margin:5px;
    padding:5px 5px;
    background-color:hsl(205, 100%, 84%); 
    display: inline;
    border-radius:10%;
    text-align:center;
    float:left;
}
.Headdesign .MenuDesign ul:hover{
  background-color:#95c0f9;
  color:#FFFFFF;
}
.Headdesign .MenuDesign ul a{
  font-family:Calibri, Arial;
  font-size:18px;
  font-weight:10px;
  color:#010203;
  text-decoration:none;
}

.ParentText{
  display: grid;
  grid-template-columns: 10fr 10fr;
}

.Image{
  width: 100%;
  height: 100vh;
}

video{

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Imageupload{
  font-style: italic;
}
.Imageupload .uploadbutton{
  background-color:hsl(205, 100%, 84%);
  border-radius: 40px;
  border-width: 10px;
  border-color: hsla(208, 100%, 88%, 0.351);
}